{% extends 'base.html.twig' %}

{% block title %}Noticias{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('app_noticias') }}">Inicio</a></li>
            <li><a href="{{ path('app_noticias',{'category': 'deportes'}) }}">Deportes</a></li>
            <li><a href="{{ path('app_noticias',{'category': 'arte'}) }}">Arte</a></li>
            <li><a href="{{ path('app_noticias',{'category': 'ciencia'}) }}">Ciencia</a></li>
            <li><a href="{{ path('app_noticias',{'category': 'tecnología'}) }}">Tecnología</a></li>
        </ul>
    </nav>
    <br>
    <main>
        {% if noticias == [] %}
            <p>No hay noticias para mostrar en {{ category }}...</p>
        {% endif %}

        {% for noticia in noticias %}
            <article>
                <h1 class="text-2xl"><a href="{{path('app_noticias_detalle',{'id': noticia.id  }) }}">{{ noticia.title }}</h1>
                <h2>Categoría: {{ noticia.category }}</h1>{# imprime el índice category dentro del elemento que se está iterando #}
                <p>{{ noticia.content|slice(0, 30,) ~ (noticia.content|length > 30 ? '...': '') }}</p>{# imprime solo los primeros 30 caracteres #}
                <br> {# Salto de línea #}
            </article>
        {% endfor %}
    </main>
{% endblock %}
